<ng-container *ngIf="(user | async)?.layout === layout.TYPE01 && screeningEvents">
    <app-purchase-schedule-01 class="d-block h-100" [screeningEvents]="screeningEvents"
        [direction]="(user | async)?.direction" [page]="(user | async)?.page" [color]="(user | async)?.color"
        [image]="(user | async)?.image">
    </app-purchase-schedule-01>
</ng-container>


<ng-container *ngIf="(user | async)?.layout === layout.TYPE02 && screeningEvents">
    <app-purchase-schedule-02 class="d-block h-100" [screeningEvents]="screeningEvents"
        [direction]="(user | async)?.direction" [page]="(user | async)?.page" [color]="(user | async)?.color"
        [image]="(user | async)?.image">
    </app-purchase-schedule-02>
</ng-container>