input[type='radio'] + div .bi-circle {
    display: block;
}

input[type='radio'] + div .bi-record-circle {
    display: none;
}

input[type='radio']:checked + div .bi-circle {
    display: none;
}

input[type='radio']:checked + div .bi-record-circle {
    display: block;
}
