<div class="p-4 h-100 scroll-vertical" [class]="'color-' + (user | async)?.settings?.color">
    <form *ngIf="settingForm" [formGroup]="settingForm">
        <div class="mb-4">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'setting.title' | translate }}</h2>
            <div class="container mw-100">
                <div class="row">
                    <ng-container *ngFor="let key of getProfileFormKeys()">
                        <div *ngIf="!(key === 'image' || key === 'color')" class="form-group col-4">
                            <div class="mb-2">
                                <div class="d-inline-flex align-items-center">
                                    <p class="mb-0">{{ 'form.label.' + key | translate }}</p>
                                    <p *ngIf="isRequired(key)" class="badge badge-danger ml-2 mb-0">
                                        {{ 'form.required' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="">
                                <select *ngIf="key === 'theaterId'" class="form-control" [formControlName]="key"
                                    (change)="changeTheater()">
                                    <option value="">{{ 'setting.unselected' | translate }}</option>
                                    <option *ngFor=" let movieTheater of movieTheaters" [value]="movieTheater.id">
                                        {{ movieTheater.name | changeLanguage }}</option>
                                </select>
                                <select *ngIf="key === 'screenId'" class="form-control" [formControlName]="key">
                                    <option value="">{{ 'setting.unselected' | translate }}</option>
                                    <option *ngFor=" let screeningRoom of screeningRooms"
                                        [value]="screeningRoom.branchCode">
                                        {{ screeningRoom.name | changeLanguage }}</option>
                                </select>
                                <select *ngIf="key === 'page'" class="form-control" [formControlName]="key">
                                    <option value="">{{ 'setting.auto' | translate }}</option>
                                    <option *ngFor=" let page of pages" [value]="page">
                                        {{ page }}</option>
                                </select>
                                <select *ngIf="key === 'direction'" class="form-control" [formControlName]="key">
                                    <option [value]="direction.HORIZONTAL">HORIZONTAL</option>
                                    <option [value]="direction.VERTICAL">VERTICAL</option>
                                </select>
                                <select *ngIf="key === 'period'" class="form-control" [formControlName]="key">
                                    <option value="86400">1日</option>
                                    <option value="259200">3日</option>
                                    <option value="604800">7日</option>
                                </select>
                                <select *ngIf="key === 'dateFormat'" class="form-control" [formControlName]="key">
                                    <option value="HH:mm">HH:mm</option>
                                    <option value="MM/DD HH:mm">MM/DD HH:mm</option>
                                    <option value="YYYY/MM/DD HH:mm">YYYY/MM/DD HH:mm</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="key === 'image' || key === 'color'" class="form-group col-12">
                            <div class="mb-2">
                                <div class="d-inline-flex align-items-center">
                                    <p class="mb-0">{{ 'form.label.' + key | translate }}</p>
                                    <p *ngIf="isRequired(key)" class="badge badge-danger ml-2 mb-0">{{ 'form.required' |
                                        translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="">
                                <input *ngIf="key === 'image'" class="form-control" [formControlName]="key">
                                <div *ngIf="key === 'color'" class="d-flex flex-wrap">
                                    <div class="mb-2 w-25 mb-2 pr-3" *ngFor="let color of colors">
                                        <label class="d-flex align-items-center pointer" [for]="'color' + color">
                                            <input class="d-none" type="radio" [id]="'color' + color"
                                                [formControlName]="key" [value]="color">
                                            <div class="mr-2">
                                                <i class="bi bi-circle"></i>
                                                <i class="bi bi-record-circle"></i>
                                            </div>
                                            <div class="border border-white w-100 text-center py-1"
                                                [class]="'color-' + color">
                                                &nbsp;</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button type="submit" [disabled]="isLoading | async" class="btn btn-light btn-block py-3 mb-3"
                (click)="onSubmit()">{{ 'setting.next' | translate }}</button>
            <button type="button" class="btn btn-outline-light btn-block py-3" [routerLink]="environment.BASE_URL">{{
                'setting.prev' | translate }}</button>
        </div>
    </form>
</div>