<div class="p-4 h-100 scroll-vertical" [class]="'color-' + (user | async)?.color">
    <form *ngIf="settingForm" [formGroup]="settingForm">
        <div class="mb-4">
            <h2 class="text-large mb-4 text-center font-weight-bold">{{ 'setting.title' | translate }}</h2>
            <div class="container mw-100">
                <ng-container *ngFor="let key of getProfileFormKeys()">
                    <div class="form-group row">
                        <div class="col-4 py-2 text-right ">
                            <div class="d-inline-flex align-items-center">
                                <p>{{ 'form.label.' + key | translate }}</p>
                                <p *ngIf="isRequired(key)" class="badge badge-danger ml-2">{{ 'form.required' |
                                    translate }}
                                </p>
                            </div>
                        </div>
                        <div class="col-8">
                            <select *ngIf="key === 'theaterId'" class="form-control" [formControlName]="key"
                                (change)="changeTheater()">
                                <option value="">{{ 'setting.unselected' | translate }}</option>
                                <option *ngFor=" let movieTheater of movieTheaters" [value]="movieTheater.id">
                                    {{ movieTheater.name | changeLanguage }}</option>
                            </select>
                            <select *ngIf="key === 'screenId'" class="form-control" [formControlName]="key">
                                <option value="">{{ 'setting.unselected' | translate }}</option>
                                <option *ngFor=" let screeningRoom of screeningRooms"
                                    [value]="screeningRoom.branchCode">
                                    {{ screeningRoom.name | changeLanguage }}</option>
                            </select>
                            <select *ngIf="key === 'page'" class="form-control" [formControlName]="key">
                                <option value="">{{ 'setting.unselected' | translate }}</option>
                                <option *ngFor=" let page of pages" [value]="page">
                                    {{ page }}</option>
                            </select>
                            <select *ngIf="key === 'direction'" class="form-control" [formControlName]="key">
                                <option [value]="direction.HORIZONTAL">HORIZONTAL</option>
                                <option [value]="direction.VERTICAL">VERTICAL</option>
                            </select>
                            <select *ngIf="key === 'layout'" class="form-control" [formControlName]="key">
                                <option [value]="layout.TYPE01">TYPE01</option>
                                <option [value]="layout.TYPE02">TYPE02</option>
                            </select>
                            <input *ngIf="key === 'image'" class="form-control" [formControlName]="key">
                            <div *ngIf="key === 'color'" class="py-2 d-flex flex-wrap">
                                <div class="mb-2 w-25" *ngFor="let color of colors">
                                    <label class="d-inline-flex align-items-center pointer"
                                    [for]="'color' + color">
                                    <input class="d-none" type="radio" [id]="'color' + color" [formControlName]="key" [value]="color">
                                    <div class="mr-2">
                                        <i class="far fa-circle"></i>
                                        <i class="far fa-dot-circle"></i>
                                    </div>
                                    <p>{{ color }}</p>
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>

        <div class="buttons mx-auto text-center">
            <button type="submit" [disabled]="isLoading | async" class="btn btn-light btn-block py-3 mb-3"
                (click)="onSubmit()">{{ 'setting.next' | translate }}</button>
            <button type="button" class="btn btn-outline-light btn-block py-3" [routerLink]="environment.BASE_URL">{{
                'setting.prev' | translate }}</button>
        </div>
    </form>
</div>