<ng-container *ngIf="layout === Layout.SCREENING_EVENT_SERIES && screeningEvents">
    <app-status-screening-event-series class="d-block h-100" [screeningEvents]="screeningEvents"
        [settings]="(user | async)?.settings">
    </app-status-screening-event-series>
</ng-container>


<ng-container *ngIf="layout === Layout.START_DATE && screeningEvents">
    <app-status-start-date class="d-block h-100" [screeningEvents]="screeningEvents"
        [settings]="(user | async)?.settings">
    </app-status-start-date>
</ng-container>