<div class="p-4">
    <div class="container px-0">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" routerLink="/cinema/purchase/schedule">
                    {{ 'main.cinema.dashboard.purchase' | translate }}
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" routerLink="/setting">
                    {{ 'main.cinema.dashboard.setting' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>