<div class="p-4 bg-dark-gray h-100">
    <div class="container px-0">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-light btn-block py-4" routerLink="/cinema/purchase/schedule">
                    {{ 'main.cinema.dashboard.purchase' | translate }}
                </button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-light btn-block py-4" routerLink="/setting">
                    {{ 'main.cinema.dashboard.setting' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>